<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sign In</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<form action="/signIn" method="post">
    <label>Ваш Email
        <input type="email" placeholder="Введите email" name="email">
    </label>
    <br>
    <br>
    <label>Ваш Пароль
        <input type="password" placeholder="Введите password" name="password">
    </label>
    <input type="submit">
    <br>
    <br>
    <br>
  </form>
</body>
</html>